<p><%= raw t '.purpose', author: link_to('Thibault Lacroux', 'http://github.com/Rykian') %></p>

<p>
  <%=t '.goals' %>
  <ul>
    <li><%=t '.promotion' %></li>
    <li><%=t '.demonstration' %></li>
  </ul>
</p>

<p><%= raw t '.available_on_github', github: 'https://github.com/Rykian/CineVOlle' %></p>
