<%= form_tag(contact_send_path) do %>
  <div class="form-group">
    <%= label_tag :name, t('.name') %>
    <%= text_field_tag :name, nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :email, t('.email') %>
    <%= email_field_tag :email, nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :message, t('.message') %>
    <%= text_area_tag :message, nil, rows: 10, class: 'form-control' %>
  </div>
  <%= submit_tag t('.send'), class: 'btn btn-default' %>
<% end %>
