<div class="jumbotron">
  <h1>CineVOlle</h1>
  <p class="lead"><%=t '.description' %></p>

  <%= form_tag '/register', class: 'form-inline xhr-enabled' do %>
    <div class="form-group">
      <input type="email" name="email" class="form-control input-lg" placeholder="Votre email" required="required" />
      <button type="submit" class="btn btn-lg btn-success"><%=t '.signup' %></button>
    </div>
  <% end %>
</div>

<div>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <a href="#" data-week="current"><%=t '.current' %></a>
    </li>
    <li role="presentation">
      <a href="#" data-week="next"><%=t '.next' %></a>
    </li>
  </ul>

  <% [@current_week, @next_week].each_with_index do |week, i| %>
    <div class="movie-list" id="<%= i== 0 ? 'current' : 'next' %>">
      <% if week.count > 0 %>
        <% week.each do |movie| %>
          <%= render partial: 'shared/movie.html.erb', locals: { movie: movie } %>
        <% end %>
      <% else %>
        <p class="text-center"><%=t '.no_movie.' + (i == 0 ? 'current' : 'next') %></p>
      <% end %>
    </div>
  <% end %>
</div>
