<h1>CineVOlle</h1>

<p><%=t '.intro' %></p>
<% @current_week.each do |movie| %>
  <div>
    <h2><%= movie.title %></h2>
    <%= image_tag movie.poster.url(:small) %>
    <p>
      <%=t '.by', directors: movie.directors.to_sentence %><br />
      <%=t '.actors', actors: movie.actors.to_sentence %><br />
    </p>
    <p><strong><%=t '.plot' %></strong> <%= movie.plot %></p>
    <p><strong><%=t '.sessions' %></strong> <%= movie.sessions.where(date: current_theater_week).pluck(:date).map {|d| l d, format: :short}.to_sentence %></p>
    <%= link_to t('.see_on_allocine'), "http://www.allocine.fr/film/fichefilm_gen_cfilm=#{movie.aid}.html" %>
  </div>
<% end %>

<p style="font-size: 10px; text-align: center;"><%= link_to t('.unsubscribe'), unsubscribe_url(email: @user.email) %></p>
