<!DOCTYPE html>
<html>
<head>
  <title>CineVOlle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <div class="container">
    <div class="header clearfix" id="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <%- [
            { page: 'header.home' , path: root_path },
            { page: 'header.about', path: about_path },
            { page: 'header.contact', path: contact_path }
          ].each do |link| %>
            <li role="presentation"<% if request.env['PATH_INFO'] == link[:path] %> class="active"<% end %>>
              <%= link_to t(link[:page]), link[:path] %>
            </li>
          <%- end %>
        </ul>
      </nav>
      <h3 class="text-muted">CineVOlle</h3>
    </div>

    <% flash.each do |name, message| -%>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= raw message %>
      </div>
    <% end -%>

    <%= yield %>

  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Github Ribbon -->
  <a href="https://github.com/Rykian/CineVOlle"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
</body>
</html>
